{% extends 'base.html' %}
{% block title %}
Profile Page
{% endblock %}
{% block content %}
<h1>Your Profile</h1>
{% if user.user_profile %}
<img src="/media/{{ user.user_profile.profile_pic }}" class="rounded_circle" width="120px">
{% else %}
<img src="/media/defaultProfile.png" class="rounded_circle" width="120px">
{% endif %}
<br>
<a href="{% url 'changePicture' %}" class="btn btn-sm btn-info">change profile picture</a>
<p>username : {{ user.username }}</p>
<p>Email : {{ user.email }}</p>
<p>Name : {{ user.first_name}} {{ user.last_name }}</p>
<br>
<a href="{% url 'changeProfile' %}" class="btn btn-warning">Change Page</a>
{% endblock %}