{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
My Blog
{% endblock %}
{% block content %}
{% for blog in user.post_author.all %}
<h3>{{ blog.blog_title }}</h3>
<h6>{{ blog.publish_date }}</h6>

<div class="row">
    <div class="col-sm-4">
        <img src="/media/{{ blog.blog_image }}" title="{{ blog.blog_title }}" width="100%" alt="{{ blog.blog_title }}">
    </div>
    <div class="col-sm-8">
        <p>{{ blog.blog_content|range_filter|linebreaks }}</p>
        <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read more</a>
        <h6>Posted By : <a href="#">{{ blog.author }}</a></h6>
        <h6>like : {{ blog.blog_likes.count }} comment : {{ blog.blog_comment.count }}</h6>
    </div>

</div>
<hr>
<a href="{% url 'App_Blog:editBlog' pk=blog.pk %}" class="btn btn-primary">Edit</a>
{% endfor %}

{% endblock %}